
*.xcworkspacedata

L002P003/L002P003\.xcodeproj/project\.xcworkspace/xcshareddata/IDEWorkspaceChecks\.plist

L002P003/L002P003\.xcodeproj/project\.xcworkspace/xcuserdata/alexo\.xcuserdatad/UserInterfaceState\.xcuserstate
